@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  font-family: "Poppins";
  margin: 30px;

}

nav{
  align-items: center;
  background-color: steelblue;
  display: grid;
  grid-template-columns: repeat(5,1fr);
}

nav a{
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

nav h1{
  font-style: italic;
  text-align: center;
}
nav h1 div:nth-child(1){
  color: burlywood;
  font-size: 2.0rem;
  margin-bottom: 0;
}

nav h1 div:nth-child(2){
  color: pink;
  font-size: 1.5rem;
  margin-top: -10px;
}
img{
  height: 100%;
  width:100%;
}

main{
  background-color: #ccc;
  display: grid;
  gap: 30px;
  grid-auto-rows: 250px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 60px auto;
  max-width: 1200px;
  padding: 20px;
}

main div {
  background: #fff;
  border: 16px solid #fff;
  border-radius: 6px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
  overflow: hidden;
}

.short {
  grid-row: span 1;
}

.tall {
  grid-row: span 2;
}

.footer{
  text-align: center;
}
